//过渡动画样式
@mixin link-transition($time, $type:all) {
    -webkit-transition: $type $time ease-out;
    -moz-transition: $type $time ease-out;
    transition: $type $time ease-out;
}

#footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 200px;
    text-align: center;
    p {
        font-weight: 300;
        letter-spacing: 1px;
    }
    .footer-contact {
        width: 200px;
        line-height: 50px;
        margin: 0 auto;
        position: relative;
        background-color: green;
        top: -25px;
        box-shadow: #000 0 0 30px;
        box-sizing: border-box;
    }
    .hr {
        background-color: #fff;
        margin: 30px auto 10px;
        height: 1px;
    }
    .share-group {
        padding: 20px 40px 40px;
        display: block;
        margin: 0 auto;
        a {
            color: #fff;
            text-decoration: none;
            @include link-transition(0.2s);
            li {
                display: inline-block;
                padding: 10px;
                p {
                    color: #fff;
                    opacity: 0;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    @include link-transition(0.2s);
                }
            }
            &:hover li {
                transform: translateY(-5px);
                @include link-transition(0.2s);
                p {
                    opacity: 0.9;
                    transform: translateY(5px);
                    @include link-transition(0.2s);
                }
            }
            &:nth-child(1):hover li {
                color: #17b2ec;
            }
            &:nth-child(2):hover li {
                color: #ff0000;
            }
            &:nth-child(3):hover li {
                color: #545454;
            }
        }
    }
    #copy {
        p {
            padding: 20px 0 15px;
            font-size: 14px;
            margin: 0 auto;
        }
    }
    .gototop {
        position: fixed;
        padding: 5px;
        bottom: 60px;
        right: 6%;
        width: 32px;
        border-radius: 32px;
        background-color: #2e7d32;
        box-shadow: #000 0 0 10px;
        display: block;
        text-decoration: none;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, color 0.15s ease;
        -moz-transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, color 0.15s ease;
        transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, color 0.15s ease;
        &:hover {
            color: #2e7d32;
            background-color: #fff;
            -webkit-transition: background-color 0.15s ease, color 0.15s ease;
            -moz-transition: background-color 0.15s ease, color 0.15s ease;
            transition: background-color 0.15s ease, color 0.15s ease;
        }
    }
}