//背景图片
@mixin link-background {
    background: {
        image: url('../images/family_hero_large.jpg');
        repeat: no-repeat;
        size: cover;
        position: 0 0;
        attachment: fixed;
    }
}

//过渡动画样式
@mixin link-transition($time) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    transition: all $time ease-out;
}

body {
    background-color: #444;
    @include link-background;
}

header {
    width: 100%;
    min-height: 700px;
    #banner {
        .inner {
            max-width: 540px;
            margin: 0 auto;
            position: relative;
            top: 200px;
            color: #fff;
            box-sizing: border-box;
            text-shadow: #666 0px 1px 3px;
            h1 {
                line-height: 90px;
                font-size: 40px;
                letter-spacing: 10px;
            }
            h2 {
                font-size: 30px;
                letter-spacing: 5px;
            }
            h1,
            h2 {
                font-weight: 500;
                margin: 0 auto;
            }
        }
    }
}

#context {
    background-color: rgba(90, 90, 90, 0.95);
    padding: 20px 10px;
    .music_card_group {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .music_card {
            flex-shrink: 0;
            background-color: #444;
            color: #fff;
            width: 650px;
            padding: 20px 20px 30px;
            margin: 60px 100px;
            position: relative;
            box-shadow: #000 0 0 10px;
            .card_album {
                position: absolute;
                left: -100px;
                top: 30px;
                width: 300px;
                box-shadow: #000 0 0 30px;
            }
            .card_info {
                position: relative;
                display: inline-block;
                width: 375px;
                left: 245px;
                .card_title {
                    font-size: 1.6em;
                }
                .card_intro {
                    line-height: 1.5em;
                    span {
                        display: block;
                    }
                }
            }
            .card_bg_content {
                width: 100%;
                height: 10px;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                .bg_content_cover {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    left: 0;
                }
                .bg_content_blur {
                    background-size: cover;
                    filter: blur(10px);
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 0;
                }
            }
        }
    }
}