//p的字体大小
$font-size-p:16px;
//过渡动画样式
@mixin link-transition($time) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    transition: all $time ease-out;
}

nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    padding-top: 20px;
    ul {
        list-style: none;
        margin: 0 25px 0 0;
        float: right;
        li {
            display: inline-block;
            a {
                color: #ccc;
                &:hover {
                    @include link-transition(0.2s);
                }
            }
            &.active a {
                color: #fff;
            }
            &:not(.active) a:hover {
                @include link-transition(0.2s);
                color: #fff;
            }
            &.nav-talk-button {
                border-radius: 30px;
                background-color: darkred;
                box-shadow: #000 -1px 1px 7px 0px;
                a {
                    color: #fff;
                }
            }
        }
    }
    #logo {
        float: left;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        a {
            color: #fff;
        }
    }
    #logo a,
    ul li a {
        line-height: 30px;
        text-decoration: none;
        display: inline-block;
        padding: 0 20px;
    }
}