#footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 200px;
  text-align: center; }
  #footer p {
    font-weight: 300;
    letter-spacing: 1px; }
  #footer .footer-contact {
    width: 200px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    background-color: green;
    top: -25px;
    box-shadow: #000 0 0 30px;
    box-sizing: border-box; }
  #footer .hr {
    background-color: #fff;
    margin: 30px auto 10px;
    height: 1px; }
  #footer .share-group {
    padding: 20px 40px 40px;
    display: block;
    margin: 0 auto; }
    #footer .share-group a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      #footer .share-group a li {
        display: inline-block;
        padding: 10px; }
        #footer .share-group a li p {
          color: #fff;
          opacity: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
      #footer .share-group a:hover li {
        transform: translateY(-5px);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
        #footer .share-group a:hover li p {
          opacity: 0.9;
          transform: translateY(5px);
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
      #footer .share-group a:nth-child(1):hover li {
        color: #17b2ec; }
      #footer .share-group a:nth-child(2):hover li {
        color: #ff0000; }
      #footer .share-group a:nth-child(3):hover li {
        color: #545454; }
  #footer #copy p {
    padding: 20px 0 15px;
    font-size: 14px;
    margin: 0 auto; }
  #footer .gototop {
    position: fixed;
    z-index: 200;
    padding: 5px;
    bottom: 60px;
    right: 6%;
    width: 32px;
    border-radius: 32px;
    background-color: #2e7d32;
    box-shadow: #000 0 0 10px;
    display: block;
    text-decoration: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, box-shadow 0.15s ease;
    -moz-transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, box-shadow 0.15s ease;
    transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.15s ease, box-shadow 0.15s ease; }
    #footer .gototop:hover {
      background-color: #1B5E20;
      box-shadow: #222 0 0 8px;
      -webkit-transition: background-color 0.15s ease,box-shadow 0.15s ease;
      -moz-transition: background-color 0.15s ease,box-shadow 0.15s ease;
      transition: background-color 0.15s ease,box-shadow 0.15s ease; }
