#footer {
  background-color: rgba(0, 0, 0, 0.93);
  color: #fff;
  width: 100%;
  min-height: 200px;
  text-align: center; }
  #footer p {
    font-weight: 300;
    letter-spacing: 1px; }
  #footer .footer-contact {
    margin: 0;
    padding-top: 50px; }
  #footer .hr {
    background-color: #fff;
    margin: 30px auto 10px;
    height: 1px; }
  #footer .share-group {
    padding: 20px 40px 40px;
    display: block;
    margin: 0 auto; }
    #footer .share-group a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      #footer .share-group a li {
        display: inline-block;
        padding: 10px; }
      #footer .share-group a:hover li {
        transform: translateY(-5px);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
      #footer .share-group a:nth-child(1):hover li {
        color: #17b2ec; }
      #footer .share-group a:nth-child(2):hover li {
        color: #ff0000; }
      #footer .share-group a:nth-child(3):hover li {
        color: #545454; }
  #footer #copy p {
    padding: 20px 0 15px;
    font-size: 14px;
    margin: 0 auto; }
  #footer .gototop {
    width: 32px;
    margin: 0 84%;
    border: #fff solid 1px; }
    #footer .gototop a {
      display: block;
      text-decoration: none;
      color: #ccc;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out; }
      #footer .gototop a:hover {
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        color: rgba(0, 13, 33, 0.88);
        background-color: #fff; }
