nav {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  nav ul {
    list-style: none;
    padding-right: 25px;
    float: right; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        color: #ccc;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
      nav ul li.active a,
      nav ul li a:active {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        color: #fff; }
      nav ul li:not(.active) a:hover {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        color: #fff; }
      nav ul li.nav-talk-button {
        border-radius: 30px;
        background-color: #0b00dc;
        box-shadow: #222 -1px 1px 7px 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
        nav ul li.nav-talk-button a {
          color: #fff; }
        nav ul li.nav-talk-button:hover {
          background-color: #0900b3;
          box-shadow: #222 -1px 1px 10px 0px;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
    nav ul #collection_nav a {
      cursor: pointer; }
  nav ul.sub-navbar {
    position: relative;
    top: 15px;
    clear: both;
    padding-right: 88px; }
  nav #logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    nav #logo a {
      color: #fff; }
  nav #logo a,
  nav ul li a {
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    text-shadow: #222 -1px 1px 3px; }
