@charset "UTF-8";
body {
  font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
  background-color: #444;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed; }

@font-face {
  font-family: 'NotoSansHans-Regular';
  src: url(../fonts/NotoSansHans-Regular.ttf);
  src: url(../fonts/NotoSansHans-Regular.eot); }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

ul {
  margin: 0; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  letter-spacing: 1px; }

nav {
  background: #777;
  height: 50px;
  width: 100%;
  background-color: transparent; }
  nav ul {
    list-style: none;
    margin: 0 25px 0 0;
    float: right; }
    nav ul li {
      display: inline-block; }
      nav ul li:not(.active) a:hover {
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        background-color: #fff;
        color: #777; }
  nav #logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  nav #logo a,
  nav ul li a {
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
    padding: 0 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  nav .active a {
    background: #fff;
    color: #777; }
