<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>Velas - 日志</title>
    <meta charset="UTF-8">
    <!--build:js js/log.min.js -->
    <script src="./js/vue.js"></script>
    <script src="./components/nav-titlebar.js"></script>
    <script src="./components/footer.js"></script>
    <script src="./log.json.js"></script>
    <script src="js/log.js"></script>
    <!--endbuild-->
    <!--build:css css/log.min.css-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/log.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footer.css">
    <!--endbuild-->
</head>

<body>
    <header>
        <nav-titlebar></nav-titlebar>
        <h1>更新日志</h1>
        <p>让每天都来点新意思</p>
    </header>
    <main>
        <div class="catalog-list" id="catalog-list" v-cloak>
            <ul class="main-nav">
                <li class="panel" :class="{'expanded':expandIndex===index,'closed':expandIndex!==index }" v-for="(yItem,index) in logs">
                    <a class="area" @click="expandPanel(index)">{{yItem.year}}年</a>
                    <ul>
                        <li v-for="mItem in yItem.monthLists"><a class="catalog-list-item" @click="setMAndY(yItem.year,mItem.month)">{{yItem.year}}年{{mItem.month}}月</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="updatelog-list" id="updatelog-list" v-cloak>
            <transition name="fade">
                <div v-for="yItem in logs" v-if="thisYear===yItem.year">
                    <transition name="fade">
                        <div v-for="mItem in yItem.monthLists" v-if="thisMonth===mItem.month">
                            <div :id="'anchor-'+index" class="notecard" v-for="(dItem,index) in mItem.dayLists">
                                <h2>{{mItem.month}}月{{dItem.day}}日</h2>
                                <ol>
                                    <li v-for="item in dItem.logList">{{item}}</li>
                                </ol>
                            </div>
                        </div>
                    </transition>
                </div>
            </transition>
            <div class="postscript">
                <div class="hr"></div>
                <p>Zeee将把自己的奇思妙想和新学到的前端知识投入到Velas中。
                    <br> 每一天，在你看到或者看不到的地方，Velas都变得比昨天更成熟一些，更精致一些。
                    <br> 感谢你的到来，与Zeee一同将Velas变得更美好。
                    <br>
                    <br> *想获得本站的最佳体验，请在<span>Firefox</span>、 <span>Chrome</span>、 <span>Microsoft Edge</span>上浏览，或将你的浏览器升级至最新版本。
                </p>
                <div class="blank"></div>
            </div>
        </div>
        <div class="day-list" id="day-list" v-cloak>
            <ul class="sub-nav">
                <transition name="fade">
                    <div v-for="yItem in logs" v-if="thisYear===yItem.year">
                        <transition name="fade">
                            <div v-for="mItem in yItem.monthLists" v-if="thisMonth===mItem.month">
                                <li :class="{'active':activeIndex===index}" v-for="(dItem,index) in mItem.dayLists"><a @click="goAnchor('#anchor-'+index),setDItemActive(index)">{{mItem.month}}月{{dItem.day}}日</a></li>
                            </div>
                        </transition>
                    </div>
                </transition>
            </ul>
        </div>
    </main>
    <footer>
        <footer-block></footer-block>
    </footer>
</body>
<!--build:js js/log.min.js -->
<script src="js/log.js"></script>
<!--endbuild-->
<script>
    window.bus = new Vue();

    var navTitleBar = new Vue({
        el: 'header',
        components: {
            'nav-titlebar': navTitle
        },
        created: function () {
            window.addEventListener('scroll', function () {
                navScrollOnTop()
            }, false);
        },
        mounted: function () {
            setActive(2);
        }
    });

    var footerBlock = new Vue({
        el: 'footer',
        components: {
            'footer-block': footer
        },
        created: function () {
            window.addEventListener('scroll', function () {
                gttScrollOnTop()
            }, false);
        },
        mounted: function () {
            goToTop();
        }
    });

    var logMain = new Vue({
        el: '#updatelog-list',
        data: {
            logs: logJson,
            thisYear: 0,
            thisMonth: 0
        },
        created: function () {
            bus.$on('logchange', function (y, m) {
                logMain.thisYear = y;
                logMain.thisMonth = m;
            });
        },
        updated: function () {
            this.$nextTick(function () {
                changeListType();
                let header = document.querySelector('header');
                let view = document.documentElement.scrollTop || document.body.scrollTop;
                if (view > header.offsetHeight - 50) {
                    window.scrollTo(0, header.offsetHeight - 50);
                }
            });
        }
    });

    var dayNav = new Vue({
        el: '#day-list',
        data: {
            logs: logJson,
            thisYear: 0,
            thisMonth: 0,
            activeIndex: -1,
        },
        methods: {
            goAnchor: function (selector) {
                let anchor = document.querySelector(selector);
                let header = document.querySelector('header');
                scrollAnimate(anchor, anchor.offsetTop + header.offsetHeight - 40);
            },
            setDItemActive: function (index) {
                this.$nextTick(function () {
                    this.activeIndex = index;
                });
            },
        },
        created: function () {
            window.addEventListener('scroll', function () {
                autoFixed('day-list', 30);
            }, false);

            bus.$on('logchange', function (y, m) {
                dayNav.thisYear = y;
                dayNav.thisMonth = m;
                dayNav.activeIndex = -1;
            });
        }
    });

    var catalogNav = new Vue({
        el: '#catalog-list',
        data: {
            logs: logJson,
            expandIndex: 0,
        },
        methods: {
            expandPanel: function (index) {
                this.$nextTick(function () {
                    this.expandIndex = index;
                });
            },
            setMAndY: function (y, m) {
                bus.$emit('logchange', y, m);
            }
        },
        created: function () {
            window.addEventListener('scroll', function () {
                autoFixed('catalog-list', 30);
            }, false);
        },
        mounted: function () {
            document.querySelector('.catalog-list-item').click();
        },
    });
</script>

</html>