<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Velas - 音乐</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script src="./js/vue.min.js"></script>
    <!--build:js js/music.min.js -->
    <script src="./js/music.json.js"></script>
    <!--endbuild-->
    <!--build:js js/frame.min.js -->
    <script src="./components/nav-titlebar.js"></script>
    <script src="./components/footer.js"></script>
    <!--endbuild-->
    <!--build:css css/music.min.css-->
    <link rel="stylesheet" href="./css/music.css">
    <!--endbuild-->
    <!--build:css css/frame.min.css-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footer.css">
    <!--endbuild-->
</head>

<body>
    <header>
        <nav-titlebar></nav-titlebar>
        <div id="banner">
            <div class="inner">
                <h1>MUSIC</h1>
            </div>
        </div>
        <i class="fa fa-angle-double-down fa-2x down_icon" aria-hidden="true"></i>
    </header>
    <div id="context" v-cloak>
        <div class="artist_list" v-for="artist in MusicCards" :style="{'background-image': 'url(' + artist.ArtistPic + ')'}">
            <div class="music_card_group" :style="{'background-color': artist.BackgroundColor }">
                <h2 class="artist_name">{{artist.Artist}}</h2>
                <div class="music_card" v-for="card in artist.Albums">
                    <img class="card_album" :src="card.albumPic" :alt="card.albumName">
                    <div class="card_bg_cover above_layer"></div>
                    <div class="card_bg_cover" :style="{background: 'linear-gradient(to bottom,rgba(' + card.themeColor+',0.8),rgba('+ card.themeColor +',0.4) 80%,transparent)'}"></div>
                    <div class="card_info">
                        <h3 class="card_title">{{card.songTitle}}</h3>
                        <h4 class="card_album_name_artist"><span>{{card.albumName}}</span><span>{{card.albumYear}}</span></h4>
                        <p class="card_intro" v-html="card.albumIntro"></p>
                    </div>
                    <div class="card_bt_content">
                        <div class="bt_content_cover" :style="{'background-color': 'rgba(' + card.themeColor+',0.5)'}"></div>
                        <div class="bt_content_blur" :style="{'background-image': 'url(' + card.albumPic + ')'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <footer-block></footer-block>
    </footer>
</body>
<script>
    var navTitleBar = new Vue({
        el: 'header',
        components: {
            'nav-titlebar': navTitle
        },
        created: function () {
            window.addEventListener('scroll', function () {
                navScrollOnTop()
            }, false);
        },
        mounted: function () {
            setActive(1);
            setSubTitleActive(0);
            setType('dark');
        }
    });

    var musicCard = new Vue({
        el: '#context',
        data: {
            MusicCards: musicData
        }
    })

    var footerBlock = new Vue({
        el: 'footer',
        components: {
            'footer-block': footer
        },
        created: function () {
            window.addEventListener('scroll', function () {
                gttScrollOnTop()
            }, false);
        },
        mounted: function () {
            goToTop();
        }
    });
</script>

</html>